WCF_RESTful_TimesheetSoftware/TimesheetClient/TimesheetClient/Service References/TimesheetService/TimesheetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3537/TimesheetService.svc?xsd=xsd2" namespace="TimesheetService" />
  <xs:import schemaLocation="http://localhost:3537/TimesheetService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TimesheetService" />
  <xs:element name="GetTimesheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimesheetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="TimesheetService" minOccurs="0" name="GetTimesheetsResult" nillable="true" type="q1:ArrayOfTimesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="TimesheetService" minOccurs="0" name="rData" nillable="true" type="q2:RequestRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimesheetService" minOccurs="0" name="RegisterResult" nillable="true" type="q3:ResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimesheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="TimesheetService" minOccurs="0" name="ts" nillable="true" type="q4:Timesheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimesheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimesheetService" minOccurs="0" name="AddTimesheetResult" nillable="true" type="q5:ResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>